{{#> layout/base }}

{{#*inline "main-block"}}
  <main class="article">
    <section class = "article-text">
        
        <div class = "article-text__first-article">
        <p class="article-text_date"> Sep 20 </p>
        <h1 class="article-text_header"> No difference how many peaks you reach if there was 
                                         no pleasure in the climb.</h1>
        
        <p class="article-text_inf"> Quisque congue lacus massa luctus, nes hedrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultriecs tellus vitae retrun congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orciegestas. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tinciunt sit amet, pretium et augue.   </p>
        
        <span class="first-article__button">
            <a class="button" href="">READ MORE</a>
            </span>
           
        <div class ="first-article__teg">
       
            <a class ="teg" href="">#Yosemite</a>
            
            <a class ="teg" href="">#Peak</a>
            
            <a class ="teg" href="">#Explorer</a>
            </div> 
            
        </div>
        
        
        <div class="article-text__second-article">
       
        <div class="second-article__foto">
         <img class="foto" src="./index/mountin.png" >
            </div>
        
        <p class="article-text_date"> Sep 18 </p>
        <h1 class="article-text_header"> No difference how many peaks you reach if there was 
                                         no pleasure in the climb.</h1>
        
        <p class="article-text_inf-imp"> Curabitur luctus placerat lorem id eleifend. Nulla ac finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, as eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aloquet ex massa, ac finibus magna commodo vitae.</p>
        
        <p class="article-text_inf"> Quiaque congue lacus mattis luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitud orci egestas. Morbi posuere venenatis ipsurn, ac vestibulum quam dignissin efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et auque. </p>
           
        <p class="article-text_inf"> Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci  id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam et viverra lorem bibendum ut. </p>
          
         <span class="first-article__button">
            <a class="button" href="">READ MORE</a>
            </span>
           
        <div class ="first-article__teg">
       
            <a class ="teg" href="">#Yosemite</a>
            
            <a class ="teg" href="">#Peak</a>
            
            <a class ="teg" href="">#Explorer</a>
            </div> 
            
        </div>
        
      </section>
  </main>
    
{{/inline}}

{{/layout/base }}