
.footer {
     width: 1400px;
     height: 160px;
     background-color: #5c6bc0;

  &__container {
   margin: 0;
     padding: 70px 630px 65px 635px;
     font-size: 26px;
     color: #4a569a;
  }
}

